@import "tailwindcss";

@import "simplebar-react/dist/simplebar.min.css";

@font-face {
    font-family: "HelvetiPixel";
    src: url("./fonts/HelvetiPixel.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@theme {
    --font-pixel: "HelvetiPixel", sans-serif;
}

@layer base {
    html {
        @apply bg-black text-white font-sans text-pretty text-shadow-[1.25px_1.25px_3px_rgb(0_0_0_/_0.5)];
    }

    html::selection {
        @apply text-black bg-white;
    }

    a::selection {
        @apply underline;
    }
}

@layer components {
    .link-text {
        @apply relative text-indigo-300 transition-colors z-0;
    }

    .link-text:hover {
        @apply text-indigo-400;
    }

    .link-text::after {
        content: "";
        @apply absolute left-0 right-0 bottom-0 bg-lime-500 h-[2px] opacity-0 transition-opacity -z-1;
    }

    .link-text:hover::after {
        @apply opacity-100;
    }
}

.simplebar-thin-white > .simplebar-track.simplebar-horizontal {
    @apply h-[7px];
}

.simplebar-thin-white > .simplebar-track.simplebar-vertical {
    @apply w-[7px];
}

.simplebar-thin-white > .simplebar-track > .simplebar-scrollbar::before {
    @apply bg-white;
}

.simplebar-thin-white > .simplebar-track > .simplebar-scrollbar.simplebar-visible::before {
    @apply opacity-40 transition-opacity duration-32;
}

.simplebar-thin-white.simplebar-dragging > .simplebar-track > .simplebar-scrollbar.simplebar-visible::before {
    @apply opacity-60;
}

.simplebar-thin-white > .simplebar-track.simplebar-hover > .simplebar-scrollbar.simplebar-visible.simplebar-hover::before {
    @apply opacity-60;
}
